.row{
    padding:8px;
}

.links{
    width: 300px;
    margin-left: 20px;
    color: rgb(4, 12, 18);
    text-decoration: none;
    margin-bottom: 100px;
    margin-top: 100px;
    font-weight:bold;
    padding: 5px 80px;
}
.links:hover{
    border: 3px rgb(15, 13, 13) solid;
    color: aliceblue;
    background-color: black;
    padding: 5px 100px ;
    margin-bottom: 50px;
    padding:5px 80px ;
    margin-top: 100px;
    border-radius: 5px;

}
.link_1{
    
   
   
    margin-left: 20px;
    color: rgb(4, 12, 18);
    text-decoration: none;
    padding: 5px 80px ;
    font-weight: bold;
}

.link_1:hover{
    border: 3px rgb(15, 13, 13) solid;
    color: aliceblue;
    background-color: black;
    padding: 5px 80px ;
    border-radius: 5px;
}
.menu{
    margin-top: 10px;
}


