<!-- body class=""> -->
<div class="container-fluid">
  <div class="row vertical-center">
    <div class="h"><h3>About Us</h3></div>
    <p></p>
  </div>
</div>

<div class="content-wrapper">
  <div
    class="intro-text top-gap--standard bottom-gap--standard bg-white centred"
  >
    <div
      class="card-grid width-100 card-grid--1up card-grid blue card-grid--blue"
    >
      <ul class="card-grid__list">
        <li class="card">
          <a
            data-click-event="monash.card.click"
            data-position="1"
            data-title="About the Library"
            data-total-results="1"
          >
            <div class="card__body">
              <h3 class="card__heading graphite-h4">About the Library</h3>
              <p class="card__text graphite-meta">
                We inspire and enable independent minds, providing resources,
                spaces and technologies.
              </p>
              <h3 class="card__heading graphite-h4">News</h3>
              <p class="card__text graphite-meta">
                Stay up to date with the latest news, get expert advice, and
                discover the stories behind our collections.
              </p>
              <h3 class="card__heading graphite-h4">Reports</h3>
              <p class="card__text graphite-meta">
                Access our Annual Reports and more.
              </p>
              <h3 class="card__heading graphite-h4">Give to the Library</h3>
              <p class="card__text graphite-meta">
                Your donation can improve outcomes for students, staff and the
                community.<i class="fa-solid fa-building-columns"></i>
              </p>
            </div>
          </a>
        </li>
      </ul>

    
</div>
